<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aidan Powers Bio</title>
</head>
<body>

<h1> Aidan Powers: My Bio</h1>
<!-- I am going to create the paragraph portion of this assignment with bold and italics in some words -->

<h2>Setting the Scene</h2>
<p>I love sports. As a kid I grew up playing anything my <strong>older</strong> brother played and I would do anything in my power to be <strong> better. </strong></p>
<h2>Finding my passions</h2>
<p>During my time in middle and high school I was figuring out what I enjoyed in <em>life</em>. I broke it down into four categories: <em> Law, Wealth Management, Real Estate, and Private Equity</em></p>

<!-- I am going to create an unordered list of the reasons for my passions listed above -->


<h2>Reasons for my passions.</h2>
<ul>
    <li>Large markets</li>
    <li>Critical thinking</li>
    <li>Good future career outlook</li>
</ul>

<!-- This is now the orderd list of who generate these passions for me -->


<h2>The people who furthered these passions</h2>
<ol>
    <li>My Dad</li>
    <li>Mark Cuban</li>
    <li>Alex Schwartz</li>
</ol>


<h2>Schedule</h2>
<table>
    <tr>
        <th>Course</th>
        <th>Semester</th>
    </tr>
    <tr>
        <td>COMM107</td>
        <td>Fall 2020</td>
    </tr>
    <tr>
        <td>BMGT380</td>
        <td>Fall 2022</td>
    </tr>
    <tr>
        <td>ENES140</td>
        <td>Spring 2021</td>
    </tr>
</table>

<h2>HyperLinks</h2>
<p><a href="/hello">Hello Page</a></p>
<p><a href="https://www.Amazon.com">Amazon</a> <a href="https://Twitter.com" target="_blank" >Twitter</a></p>

<h2>Smith School Logo Link</h2>
<img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="200" height="100" alt="Business School Logo">

</body>
</html>